<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Users</title>
</head>

<body>
  <h1> Aqui estan los usuarios de la aplicacion </h1>
  {% if users %}
  <ol>
    {%for persons in users%}
    <li>User Infor </li>
    <ul>
      <li>First Name: {{ persons.first_name }}</li>
      <li>Last Name: {{ persons.last_name }}</li>
      <li>Email : {{persons.email}}</li>
    </ul>
    {% endfor %}
  </ol>

  {% endif %}
</body>

</html>
